.media-img {
    width: 100%;
    height: 100%;
}

.round-img {
    width: 75px;
    height: 75px;
    clip-path: circle(50% at 50% 50%);
}

.black {
    background-color: #1D2023;
}

.body-noise {
    background-image: url("img/bg.png");
}

.the-grid {
    background-size: 70px 70px;
    background-image: linear-gradient(to right, #000 1px, transparent 1px), linear-gradient(to bottom, #000 1px, transparent 1px), url("img/bg.png");    
}

.header-card {
    text-align: center;
    height: 100%;
    width: 100%;
    text-align: right;
}

.content-card {
    animation: card-shrink 0.5s 1 forwards;
    -webkit-animation: card-shrink 0.5s 1 forwards;
}

.content-card:hover {
    animation: card-expand 0.5s 1 forwards;
    -webkit-animation: card-expand 0.5s 1 forwards;
}

@keyframes card-expand {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@keyframes card-shrink {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

@-moz-keyframes card-expand {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@-moz-keyframes card-shrink {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
}